<!-- src/views/products/product.handlebars -->
<h1>{{product.name}}</h1>
<p>Precio: ${{product.price}}</p>
<p>{{product.description}}</p>
<form id="add-to-cart-form" data-product-id="{{product._id}}">
    <button type="submit">Añadir al carrito</button>
</form>
<div id="message"></div>

<script>
document.getElementById('add-to-cart-form').addEventListener('submit', async function(event) {
    event.preventDefault(); // Prevenir la redirección de la página
    const productId = this.getAttribute('data-product-id');
    try {
        const response = await fetch(`/api/carts/products/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const result = await response.json();
        if (response.ok) {
            document.getElementById('message').innerText = 'Producto agregado al carrito exitosamente';
        } else {
            document.getElementById('message').innerText = `Error: ${result.message}`;
        }
    } catch (error) {
        document.getElementById('message').innerText = 'Error al agregar el producto al carrito';
    }
});
</script>
