<!-- main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/products">Productos</a></li>
                <li><a href="/carts">Ver Carrito</a></li> <!-- Cambiado a /carts -->
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>Derechos reservados &copy; 2024</p>
    </footer>
</body>
</html>
